<!doctype html>
<html lang="ja">
<head>
	<title>BBS</title>
	<meta charset="utf-8">
	<style type="text/css">
		body{
			background-color: green;
			color: white;
		}
		li{
			list-style: none;
			border-style: double ; 
			border-width: 1px;
			border-color: black;
		}
		input:focus {
    		border:solid 1px blue;
		}

		input.iMessage { 
			width: 50%;
			}
	</style>
</head>
<body>
	<ul>
		<% for (var i = 0; i < posts.length; i++){ %>
		<li> 名前　　　　[<%= posts[i] %>]<br>投稿時間　[<%= date[i] %>]<br>内容　　　　[<%= massage[i] %>]　</li>
		<%}%>
	</ul>
	<form method="post">
	<p>名前：　   <input type="text" name="name"></p>
	<p>メッセージ： <input name="message" class="iMessage"></p>
	<input type="submit" value="書き込む">
	</body>
</html>