<!doctype html>
<html lang="ja">
<head>
	<title>BBS</title>
	<meta charset="utf-8">
</head>
<body>
	<form method="post">
	<p>名前：<input type="text" name="name"></p>
	<p>メッセージ：<br><input type="text" name="message"></p>	
	<input type="submit" value="Post!">
	<ul>
		<% for (var i = 0; i < posts.length; i++){ %>
		<li> 名前＝<%= posts[i] %>  メッセージ＝<%= massage[i] %>　投稿時間＝<%= date[i] %></li>
		<%}%>
	</ul>
</body>
</html>